# Собранные исполняемые файлы
*.exe
*.dll

# Объектные файлы и файлы ресурсов (Pelles C)
*.obj
*.res
*.rc

# Файлы настроек, создаваемые программой
*.ini
*.bak

# Временные файлы
*.tmp
*.log

# Файлы, создаваемые системой контроля версий
.DS_Store
Thumbs.db
desktop.ini

# Архивы с исходным кодом (если вы выкладываете их отдельно в релизах)
*.zip
*.7z