# Собранные исполняемые файлы
*.exe
*.dll

# Объектные файлы и компилированные ресурсы (Pelles C)
*.obj
*.res

# Файлы настроек, создаваемые программой
*.ini
*.bak

# Временные файлы
*.tmp
*.log

# Файлы ОС
.DS_Store
Thumbs.db
desktop.ini

# Архивы релизов
*.zip
*.7z
*.rar
